@import '~node_modules/modern-normalize/modern-normalize.css';

*,
*::before,
*::after {
  box-sizing: border-box;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

button {
  padding: 0;
  cursor: pointer;
}

img {
  display: block;
}
